wp/wp-content/uploads/
wp/wp-config.php
wp/wp-content/themes/twentyfourteen/
wp/wp-content/themes/twentythirteen/
wp/wp-content/themes/twentytwelve/
wp/wp-content/themes/twentyeleven/
wp/wp-content/themes/twentyten/