@charset "UTF-8";
/* CSS Document */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---------------
NAVIGATION STYLES
---------------*/
/* make the LI display inline */
    /* it's position relative so that position absolute */
    /* can be used in submenu */
	
	
#main-nav{
	height: 80px; /* set to the height you want your menu to be */
	margin: 0 auto; /* just to give some spacing */
	
	width: 850px; /* width:960px; if you've got another menu item */
}
#main-nav ul{
	margin: 0; padding: 0; /* only needed if you have not done a CSS reset */
	position:relative;
	margin-left:10px;
}
#main-nav li{
	display: block;
	float: left;
	margin: 0; padding: 0; /* only needed if you don't have a reset */
	position: relative; /* this is needed in order to position sub menus */
	top:20px;
	padding-top:23px;
	margin-left:-2px;
	margin-right:-2px;
}
#main-nav li a	{
	display:inline-block;
	height: 30px;
	line-height: 30px;
	padding: 0 15px;
	color:#f6f1f1;
	font-size:15px;
	font-weight:600;
	top:2px;
	position:relative;
	padding-top:23px;
	margin-top:-23px;
}
#main-nav .current-menu-item a, #main-nav .current_page_item a, #main-nav a:hover {
	color: #0099cc;
	
}
#main-nav ul ul { /* this targets all sub menus */
	display: none; /* hide all sub menus from view */
	position: absolute;
	top: 55px; /* this should be the same height as the top level menu -- height + padding + borders */
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	padding-bottom:12px;
}
#main-nav ul ul li { /* this targets all submenu items */
	float: left; /* overwriting our float up above */
	width: 140px; /* set to the width you want your sub menus to be. This needs to match the value we set below */
	color:#FFF;
	height:auto;
	display:inline-block;
	clear:both;
}
#main-nav ul ul li a { /* target all sub menu item links */
	padding: 8px 16px; /* give our sub menu links a nice button feel */
	color:#FFF !important;
	text-align:left;
	float:left;
	font-size:12px;
	line-height:14px;
	height:auto;
	border-top:thin #333 solid;
	border-bottom:thin #666 solid;
	width:100px;
	position:relative;
	left:4px;
	top:-13px;
	margin-bottom:0px;
}
#main-nav ul li:hover > ul {
	display: block; /* show sub menus when hovering over a parent */
	background-color:#1d1c20;
}

.navicon_home{background:url(img/home_icon.png) top center no-repeat;
	height:4px;
	}	
	.navicon_home:hover{background:url(img/home_icon.png) bottom center no-repeat;
		height:4px;}
		.navicon_home.current_page_item{background:url(img/home_icon.png) bottom center no-repeat !important;
		height:4px;}
	

.navicon_about{background:url(img/about_icon.png) top center no-repeat;
	height:4px;
	}	
	.navicon_about:hover{background:url(img/about_icon.png) bottom center no-repeat;
		height:4px;}
		.navicon_about.current_page_item{background:url(img/about_icon.png) bottom center no-repeat !important;
		height:4px;}
		
	
.navicon_people{background:url(img/people_icon.png) top center no-repeat;
	height:4px;
	}
	.navicon_people:hover{background:url(img/people_icon.png) bottom center no-repeat;
		height:4px;}
		.navicon_people.current_page_item{background:url(img/people_icon.png) bottom center no-repeat !important;
		height:4px;}

.navicon_service{background:url(img/services_icon.png) top center no-repeat;
	height:4px;
	}
	.navicon_service:hover{background:url(img/services_icon.png) bottom center no-repeat;
		height:4px;}
		.navicon_service.current_page_item{background:url(img/services_icon.png) bottom center no-repeat !important;
		height:4px;}
		
		
.navicon_timetable{background:url(img/timetable_icon.png) top center no-repeat;
	height:4px;
	}
	.navicon_timetable:hover{background:url(img/timetable_icon.png) bottom center no-repeat;
		height:4px;}
		.navicon_timetable.current_page_item{background:url(img/timetable_icon.png) bottom center no-repeat !important;
			height:4px;}
		
.navicon_blog{background:url(img/blog_icon.png) top center no-repeat;
	height:4px;
	}
	.navicon_blog:hover{background:url(img/blog_icon.png) bottom center no-repeat;
		height:4px;}
		.navicon_blog.current_page_item{background:url(img/blog_icon.png) bottom center no-repeat !important;
			height:4px;}

.navicon_gallery{background:url(img/gallery_icon.png) top center no-repeat;
	height:4px;
	}
	.navicon_gallery:hover{background:url(img/gallery_icon.png) bottom center no-repeat;
		height:4px;}
		.navicon_gallery.current_page_item{background:url(img/gallery_icon.png) bottom center no-repeat !important;
			height:4px;}
		
.navicon_shop{background:url(img/shop_icon.png) top center no-repeat;
	height:4px;
	}
	.navicon_shop:hover{background:url(img/shop_icon.png) bottom center no-repeat;
		height:4px;}
		.navicon_shop.current_page_item{background:url(img/shop_icon.png) bottom center no-repeat !important;
			height:4px;}

.navicon_contact{background:url(img/contact_icon.png) top center no-repeat;
	height:4px;
	}
	.navicon_contact:hover{background:url(img/contact_icon.png) bottom center no-repeat;
		height:4px;}
		.navicon_contact.current_page_item{background:url(img/contact_icon.png) bottom center no-repeat !important;
			height:4px;}
		
		
.navicon_coach{background:url(img/coach_icon.png) top center no-repeat;
	height:4px;
	}
	.navicon_coach:hover{background:url(img/coach_icon.png) bottom center no-repeat;
		height:4px;}
		.navicon_coach.current_page_item{background:url(img/coach_icon.png) bottom center no-repeat !important;
			height:4px;}
		
.selected{background-position:bottom;
	color: #0099cc;}


/*---------------
GENERAL STYLES
---------------*/

body{background:url(img/bgr.jpg) repeat top left;
	text-align:center;
	margin:0 auto;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;}
	
#flair{width:100%;
	position:absolute;
	background:url(img/flair.png) right;
	height:422px;
	z-index:-1;
	top:330px;
	right:5px;}
	
#social{position:relative;
	top:238px;
	left:975px;
	width:32px;
	height:200px;
	margin-bottom:-200px;}
	.fb_16{background:url(img/social16.png);
		width:16px;
		height:16px;
		margin-bottom:6px;
		}
		.fb_16:hover{background:url(img/social16.png) 16px 0px;}
		
	.twit_16{background:url(img/social16.png) 0px 58px;
		width:16px;
		height:16px;
		margin-bottom:6px;
		}
		.twit_16:hover{background:url(img/social16.png) 16px 58px;}
		
	.yout_16{background:url(img/social16.png) 0px 37px;
		width:16px;
		height:16px;
		margin-bottom:6px;
		}	
		.yout_16:hover{background:url(img/social16.png) 16px 37px;}
		
	.mail_16{background:url(img/social16.png) 0px 16px;
		width:16px;
		height:16px;
		position:relative;
		}
		.mail_16:hover{background:url(img/social16.png) 16px 16px;}
	
#notification{width:100%;
	height:30px;
	position:relative;
	background: #efefef; /* Old browsers */
	background: -moz-linear-gradient(top,  #efefef 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #efefef 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #efefef 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #efefef 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #efefef 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	margin-bottom:15px;
	border-bottom:thin solid #909090;
	-webkit-box-shadow:  0px 2px 6px 1px rgba(0, 0, 0, 1);
    box-shadow:  0px 2px 6px 1px rgba(0, 0, 0, 1);
	padding-top:14px;
	text-align:right;
	color:#1d9649;
	font-weight:800;
	letter-spacing:1px;
	font-size:16px;
	}
	
#navback{width:100%;
	height:82px;
	background-color:#1d1c20;
	border-top:thin #49484c solid;
	border-bottom:thin #49484c solid;
	-webkit-box-shadow:  0px 12px 8px 0px rgba(0, 0, 0, .4);
    box-shadow:  0px 12px 8px 0px rgba(0, 0, 0, .4);
	position:relative;
	top:130px;
	z-index:8;
	}
	
a{color:#1f9549; text-decoration:none;}
a:hover{text-decoration:underline;}
.left{float:left !important;}
.right{float:right !important;}	
.center{margin:0 auto !important;
	float:none !important;}
h1{}
h2{}
h3{}
h4{}
h5{}
h6{}
strong{}
.hr{width:100%;
	height:2px;
	background:url(img/hr.png);
	float:left;
	clear:both;
	margin-top:4px;
	margin-bottom:4px;}
	.lighthr{width:100%;
	height:3px;
	background:url(img/lighthr.png);
	float:left;
	clear:both;
	margin-top:4px;
	margin-bottom:4px;}
.title{font-weight:600;
	color:#1f9549;
	font-style:italic;
	font-size:14px;
	margin-bottom:4px;}
.content{}
.meta{height:20px;
	width:auto;
	padding-left:10px;
	padding-right:10px;
	background:#3d3d3d;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin:12px 8px 0px 0px;
	color:#CCC;
	font-size:10px;
	padding-top:3px;
	float:left;}
	.date:hover{background-color:#1f9549;}
	.author:hover{background-color:#692f75;}
	.read-more:hover{background-color:#d2232a;}

#wrapper{min-height:200px;
	position:relative;
	margin-top:-82px;}
	
#logo{float:left;
	margin-left:10px;}
	
.slider-wrapper{width:960px;
	height:422px;
	border:thin #646464 solid;
	position:relative;
	margin-top:118px;
	float:left;
	z-index:2;}

#home_modules{float:left;
	margin-top:62px;}

.home_mod{width:232px;
	height:226px;
	float:left;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background:url(img/darkbg.jpg) repeat;
	border:thin #454545 solid;
	position:relative;}
	
.shine{background:url(img/shine.png);
	width:218px;
	height:85px;
	position:absolute;
	top:7px;
	left:7px;
	opacity:.4;}

.modimg{width:218px;
	height:213px;
	overflow:hidden;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin-top:7px;
	margin-left:7px;}

.modcaption{width:216px;
	height:35px;
	background:url(img/black50.png) repeat;
	position:absolute;
	bottom:25px;
	padding-top:18px;
	color:#FFF;
	font-style:italic;
	font-weight:600;
	font-size:16px;
	padding-left:7px;
	padding-right:7px;}
	
#leftbar, #rightbar{margin-top:12px;
	text-align:left;}
	#leftbar{margin-left:4px;}
	.home-events{float:left;
		margin-bottom:14px;
		width:580px;}
		.home-events h3{color:#f1f1f1;
			font-weight:bold;
			font-size:18px;
			margin-bottom:6px;
			margin-top:6px;}
		.home-events .innermod{width:574px;
		height:132px;
		float:left;
		margin-left:2px;
		margin-bottom:4px;
		margin-top:4px;
		border:thin #454545 solid;
		background:url(img/darkbg.jpg) repeat;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;}
			.home-events .innermod img{position:relative;
			top:10px;
			left:10px;
			float:left;}
			.home-events .innermod .postdetails{width:435px;
			color:#f1f1f1;
			float:right;
			padding:6px;
			margin-top:8px;
			margin-right:4px;
			line-height:16px;
			}
			
#rightbar{
	float:right;margin-top:24px;
	}
#rightbar .module{
	width:300px;
	min-height:120px;
	float:right;
	background: #dedede;
	background: -moz-linear-gradient(top,  #dedede 0%, #aaaaaa 68%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dedede), color-stop(68%,#aaaaaa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #dedede 0%,#aaaaaa 68%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #dedede 0%,#aaaaaa 68%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #dedede 0%,#aaaaaa 68%); /* IE10+ */
	background: linear-gradient(to bottom,  #dedede 0%,#aaaaaa 68%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#aaaaaa',GradientType=0 ); /* IE6-8 */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-right:8px;
	margin-bottom:15px;
}

#rightbar .module .title{color:#464646;
	font-weight:800;
	font-size:14px;
	font-style:normal;
	margin-top:12px;
	margin-left:12px;
	text-shadow: 0px 1px 0px #fff;
    filter: dropshadow(color=#fff, offx=0, offy=1);
	text-align:left;
	height:13px;}
	
.searchbar{width:170px;
	height:32px;
	background:#f1f1f1;
	border:thin solid #545454;
	margin-top:2px;
	margin-bottom:14px;
	margin-left:-4px;
	padding-left:8px;
	padding-right:8px;
	color:#606060;
	font-size:11px;
	font-weight:700;
	  letter-spacing:.8px;}
	  
ul.cats{margin-bottom:14px;}
	  
ul.cats li{width:100%; 
	text-align:left;
	padding-bottom:4px;
	border-bottom:thin #999 solid;
	margin-left:-2px;
	padding-top:6px;
	border-top:thin solid #CCC;}
	ul.cats li a{position:relative;
		left:12px;
		color:#313131;
		font-weight:700;}

	
.bxslide{
	width:300px;
	height:150px;
	margin-top:4px;}
	
.bxslideimg{width:284px;
	height:115px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	float:left;
	margin-top:8px;	
	border:thin #666 solid;
	margin-left:6px;
	margin-top:-2px;
	overflow:hidden;}
	
.bxslidecap{height:32px;
	margin:0 auto;
	width:300px;
	text-align:center;
	float:left;
	margin-top:10px;}
	
.supportslidecap{
	margin: 0 auto;
width: 240px;
text-align: center;
float: left;
margin-top: 13px;
margin-left: 23px;
margin-bottom: -25px;}
	
.controllers{width:35px;
	float:right;
	margin-right:16px;}
	
.prevslide, .nextslide{
	width:14px;
	height:13px;
	cursor:pointer;
	}
	.prevslide{
	float:left;
	}
	.nextslide{
	float:right;}
	
	.bx-next{position:relative;
	top:-178px;
	z-index:99;
	left:260px;}
	
	.bx-prev{position:relative;
	top:-178px;
	z-index:99;
	left:250px;}
	
	/*TESTIMONIAL Sidebar*/
	.bxtest{background:url(img/testimonial.png) no-repeat;
		width:292px;
		height:150px;
		position:relative;
		margin-left:8px;
		margin-bottom:20px;
		float:left;}
		.bxtest img{margin-top:15px;
			margin-left:12px;
			border:thin solid #d3d3d3;
			float:left;}
		.bxtest .testim_name{color:#692f75;
			font-weight:600;
			float:left;
			margin-top:17px;
			margin-left:8px;
			font-size:14px;}
			.testim_name .dater{font-weight:700;
				font-size:12px;
				color:#666;}
		.testim_content{float:left;
			width:195px;
			margin-left:10px;
			margin-top:3px;
			line-height:15px;}
		.bxtest .read-more{margin-left:12px;}
		.bxtest .meta{
			height:18px;
			color:#CCC;
			font-size:10px;
			padding-top:6px;
			float:left;}

	/*Recommend Sidebar*/
		.bximg{width:100%;
		position:relative;
		padding-bottom:35px;
		margin-bottom:20px;
		float:left;}
			.bximg .const{width:198px;
				height:129px;
				float:left;
				margin-left:45px;
				margin-top:15px;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
				overflow:hidden;
				background:#FFFFFF;}
				.const img{margin:0 auto;
					text-align:center;}
				
			
	
/*SUBCONTENT*/
#subcontent{width:100%;
	min-height:300px;
	background:url(img/darkbg.jpg) repeat;
	float:left;
	border-top:thin solid #454545;
	border-bottom:thin solid #454545;}
	
.third{width:270px;
	height:280px;
	float:left;margin-top:8px;
	text-align:left;}	
	
.footitle{font-size:12px;
	color:#f1f1f1;
	font-weight:800;
	margin-top:18px;
	float:left;}
	
.third ul{float:left;
	margin-top:12px;
	margin-left:0px;}
	
.third ul li{font-size:12px;
	line-height:17px;}
	
.third p{color:#f1f1f1;
	font-size:12px;
	line-height:18px;
	margin-top:12px;}
	
.third .map{float:left;
	margin-top:14px;position:relative;}
	
.third .map .text{position:absolute;
	z-index:9;
	left:118px;
	top:8px;
	height:190px;
	width:146px;
	color:#FFF;
	font-size:11px;
	line-height:18px;}
	
.text b{font-weight:600;
	font-size:14px;}
	
/*PAGE STYLES*/
.pagetitle{text-align:left;
	font-size:18px;
	font-weight:800;
	font-variant:normal;
	font-style:normal;
	color:#f1ecec;
	margin-top:20px;
	margin-left:14px;
	margin-bottom:12px;}

#fullflair{width:100%;
	position:relative;
	background:url(img/flair.png) right;
	height:422px;
	margin-top:-412px;
	z-index:-1;
	right:5px;}	
	
#pagecontent{padding:18px;
	padding-bottom:26px;
	}
	#pagecontent p{color:#bfbfbf;
		font-size:13px;
		font-weight:400;
		margin-bottom:1em;
		line-height:18px;}
		
	#pagecontent ul{color:#bfbfbf;
		font-size:13px;
		font-weight:400;
		margin-bottom:1em;
		line-height:18px;
		list-style:circle;}
		
	#pagecontent iframe{margin-left:-3px;
	margin-bottom:18px;}

/*
FULL WIDTH PAGE
*/
#fullbar{background:url(img/darkbg.jpg);
	width:928px;
	min-height:150px;
	margin-top:130px;
	margin-bottom:108px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border:1px solid #454545;
	text-align:left;}
		
/*
HALF WIDTH PAGE
*/
#halfbar{background:url(img/darkbg.jpg);
	width:730px;
	min-height:150px;
	margin-top:130px;
	margin-bottom:108px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border:1px solid #454545;
	text-align:left;
	float:left;}
	
#barright{width:210px;
	min-height:200px;
	float:right;
	border:thin #FFF solid;
	margin-top:148px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: #dedede;
	background: -moz-linear-gradient(top,  #dedede 0%, #aaaaaa 68%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dedede), color-stop(68%,#aaaaaa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #dedede 0%,#aaaaaa 68%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #dedede 0%,#aaaaaa 68%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #dedede 0%,#aaaaaa 68%); /* IE10+ */
	background: linear-gradient(to bottom,  #dedede 0%,#aaaaaa 68%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dedede', endColorstr='#aaaaaa',GradientType=0 ); /* IE6-8 */
	padding-bottom:5px;
	margin-bottom:24px;}
	
	.rightmod{display:block;
		margin-bottom:24px;}
		.moduletitle{color:#464646;
			font-weight:800;
			font-size:14px;
			font-style:normal;
			margin-top:12px;
			margin-left:10px;
			text-shadow: 0px 1px 0px #fff;
    		filter: dropshadow(color=#fff, offx=0, offy=1);
			text-align:left;
		}
		.modcontent{width:210px;
			float:left;
			padding-left:2px;
			margin-bottom:12px;}
		
		
/*
Blog Archive PAGE
*/		
	
.blogarch{width:690px;
	height:164px;
	float:left;
	margin-bottom:10px;
	border:thin #3f3f41 solid;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;}
	.blogarch .img{
		background:url(img/black50.png);
		width:131px;
		height:134px;
		border:thin #333 solid;
		float:left;
		margin-left:13px;
		margin-top:13px;}
		.blogarch .img img{margin:0 auto;
			position:relative;
			left:7px;
			top:7px;
			width:119px;
			height:120px;}	
	.blogarch .postdetails{width:420px;
		float:left;
		margin-top:18px;
		margin-left:24px;
		color:#dadada;
		}
		.blogarch .postdetails .title{color:#f5f5f5;
			font-weight:900;
			font-size:14px;
			font-style:normal;]
			letter-spacing:1.6px;
			clear:both;
			margin-bottom:6px;}
		.blogarch .postdetails .content{
			line-height:18px;
			font-size:12px;
			height:75px;
			}	
			.blogarch .postdetails .meta-cont{width:510px;
				height:22px;
				background:#080001;
				margin-left:-6px;
				margin-top:6px;}
				.blogarch .postdetails .meta-cont .blread-more{color:#0099cc;
					float:left;
					margin-top:5px;
					margin-left:6px;}
				.blogarch .postdetails .meta-cont .bldate{float:right;
					margin-top:5px;
					margin-right:6px;}
			
	
#wpnavi{height:45px;
	width:100%;
	float:left;
	margin-bottom:25px;}
		
/* OUR PEOPLE MODULE */		
.teammember{width:207px;
	height:314px;
	float:left;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background:url(img/darkbg.jpg) repeat;
	border:thin #454545 solid;
	position:relative;
	margin-top:4px;
	margin-bottom:12px;
	margin-right:7px;
	margin-left:7px;}

.teammember .modcaption{width:193px;
	height:35px;
	background:url(img/black50.png) repeat;
	position:absolute;
	bottom:25px;
	padding-top:18px;
	color:#FFF;
	font-style:italic;
	font-weight:600;
	font-size:16px;
	padding-left:7px;
	padding-right:7px;
	text-align:center;
	}

.teammember .modimg{width:193px;
	height:300px;
	overflow:hidden;
	margin-top:7px;
	margin-left:7px;}

/*FOOTER*/
#footer{height:70px;
	background:#1d1c20;
	border-bottom:thin solid #454545;
	float:left;
	width:100%;
	margin-bottom:45px;
	-webkit-box-shadow:  0px 2px 6px 1px rgba(0, 0, 0, .4);
    box-shadow:  0px 2px 6px 1px rgba(0, 0, 0, .4);
	text-align:center;
	padding-top:18px;
	color:#333;}
	
#footer a{color:#666;}
#footer .copyright{margin-top:12px;
	color:#444;}
#footer .copyright a{margin-top:12px;
	color:#444;}
	
	/*FOOTER MENU STYLES*/
	#footmenu{height:8px;
	text-align:center;}
	
	#footmenu ul{margin:0 auto;
	width:960px;
	text-align:center;}
	
	#footmenu li{display:inline;}
	
	#footmenu li:after{ 
 		content:" | ";
	}
	
	

/*PAGE NAVI STYLES*/
.wp-pagenavi{width:450px;
	height:30px;
	float:left;
	color:#999;}
	.wp-pagenavi .pages, .wp-pagenavi .current{
		background:#222;
		padding:8px;
		padding-right:10px;
		float:left;
		margin-right:6px;
		border:thin solid #444;}
			.wp-pagenavi .current{background:#000;
			color:#CCC;}
		
		.wp-pagenavi .page{background:#222;
		padding:8px;
		padding-right:10px;
		float:left;
		margin-right:6px;
		border:thin solid #444;}
		
		.wp-pagenavi .nextpostslink, .wp-pagenavi .previouspostslink{background:#222;
		padding:8px;
		padding-right:10px;
		float:left;
		margin-right:6px;
		border:thin solid #444;}
		
		
strong{font-weight:bold;}

.staffrole{width:410px;
	padding:8px;
	float:left;
	margin:6px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size:14px;
	color:#0d9dd2;
	font-weight:bold;
	background-color:#151515;
	border:thin #333 solid;
	margin-left:0px;
	margin-bottom:12px;}
	
.staffmember{width:214px;
	height:314px;
	float:left;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background:url(img/darkbg.jpg) repeat;
	border:thin #454545 solid;
	position:relative;
	margin-top:4px;
	margin-bottom:12px;
	margin-right:24px;
	margin-left:7px;
	display:inline;}
	
.staffmember .modimg{width:200px;
	height:300px;
	overflow:hidden;
	margin-top:7px;
	margin-left:7px;}

#pagecontent ul{
	position:relative;
	left: 15px; /* 21px for full screen*/
	display:block;
	clear:both;}
	
/*CALENDAR STYLING*/
.fullcalendar{width:695px; /*880px for fullwidth*/
	background:#CCC;
	border:thin white solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding:12px;
	background-image: linear-gradient(bottom, rgb(194,194,194) 10%, rgb(232,232,232) 93%);
background-image: -o-linear-gradient(bottom, rgb(194,194,194) 10%, rgb(232,232,232) 93%);
background-image: -moz-linear-gradient(bottom, rgb(194,194,194) 10%, rgb(232,232,232) 93%);
background-image: -webkit-linear-gradient(bottom, rgb(194,194,194) 10%, rgb(232,232,232) 93%);
background-image: -ms-linear-gradient(bottom, rgb(194,194,194) 10%, rgb(232,232,232) 93%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.1, rgb(194,194,194)),
	color-stop(0.93, rgb(232,232,232))
);}
	
	.days-names{height:40px;
		padding-top:24px;
		text-align:center;
		background:#444;
		}
	.fullcalendar tr{height:40px;}
	.fullcalendar td{border:thin solid #999;
		height:60px;
		width:60px;
		padding:4px;}
		
	.eventful-today li a{width:65px;
	
	height: auto;
	float:left;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background:#692f75;
	color:#FFF;
	font-weight:bold;
	float:left;
	list-style:none;
	padding:4px;
	font-size:11px;
	position:relative;
		top:-4px;padding-right:5px;
	}
	
	.eventful-post li a{width:65px;
	height: auto;
	float:left;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background:#692f75;
	color:#FFF;
	font-weight:bold;
	float:left;
	list-style:none;
	padding:4px;
	font-size:11px;
	position:relative;
		top:-4px;padding-right:5px;
	}
	
	.eventful li, .eventful-post li, .eventful-pre li{margin-bottom:15px;}
	
	.eventful-pre li a{width:65px;
	height: auto;
	float:left;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background:#999;
	color:#FFF;
	font-weight:bold;
	float:left;
	list-style:none;
	padding:4px;
	font-size:11px;
	position:relative;
		top:-4px;padding-right:5px;
	}
	
	.days-names td{color:#CCC;
	text-align:center;
	padding-top:14px;
	margin-bottom:-24px;}
	
	.em-calnav-prev {
font-size: 22px;
float: right;
font-weight: bold;
top: 18px;
position: relative;
right: 51px;
z-index: 999;}
	
	.em-calnav-next{font-size:22px;
	float:left;
	font-weight: bold;
top: 18px;
position: relative;
left: 37px;
z-index: 999;}
	
	
	
	
		.month_name{
		font-weight:bold;
		position:relative;
		top:20px;
		left:176px !important; /*240px for no sidebar*/
		font-size:26px;
		color:#878787;	
	}
	
	.gallery_container{float:left;
	display:block;}
	
	.galimage{width:145px;
	height:145px;
	float:left;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background:url(img/darkbg.jpg) repeat;
	border:thin #454545 solid;
	position:relative;
	margin-top:4px;
	margin-bottom:8px;
	margin-right:7px;
	margin-left:7px;
	}
	
	.galconst{border:thin #666 solid;
		width:140px;
		height:140px;
		overflow:hidden;
		position:relative;
		top:2px;
		left:2px;}
	
	.galimage img{min-width:140px;
	min-height:140px;
	}
	
/*CONTACT PAGE STYLING*/
	.wpcf7-form-control-wrap input[type='text']{width: 300px;
	border: thin #EBEBEB solid;
	height: 32px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin-top: 4px;
	padding-left: 6px;
	padding-right: 10px;}
	
	.wpcf7-form-control-wrap textarea{width: 300px;
	border: thin #EBEBEB solid;
	min-height:100px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin-top: 4px;
	padding-left: 6px;
	padding-right: 10px;
	padding-top:6px;
	padding-bottom:10px;
	max-height:450px;}
	
	.wpcf7-mail-sent-ok{font-weight:bold;
	color:#1F9549;}
	
	.servicemodule{width:100%;
	clear:both;
	float:left;}
		.servicemet{
height: 18px;
width: auto;
padding-left: 10px;
padding-right: 10px;
background: #3D3D3D;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
margin: -4px 0px 12px 0px;
color: #CCC;
font-size: 10px;
padding-top: 5px;
float: left;}

#pagecontent h1 {
font-weight: 600;
color: #FFF;
font-style:normal;
font-size: 16px;
margin-bottom: 4px;
}

#pagecontent h2{font-weight:600;
	color:#1f9549;
	font-style:italic;
	font-size:14px;
	margin-bottom:4px;}
	
#pagecontent h3 {
font-weight: 600;
color: #FFF;
font-style: italic;
font-size: 14px;
margin-bottom: 4px;
}

#pagecontent h4 {
font-weight: 900;
color:#1f9549;
font-size: 12px;
margin-bottom: 4px;
}

#pagecontent h5 {
font-weight: 500;
color:#CCC;
font-size: 12px;
margin-bottom: 4px;
}
	
.leftin{
	float:left;
	width:500px;
	height:auto;}
	
.rightin{
	border-left:thin solid #333;
	float:right;
	width:360px;
	height:auto;
	padding-left:12px;
	padding-bottom:12px;
	}
	.rightin .googlemap{float:left;
		float:left;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		background:url(img/darkbg.jpg) repeat;
		border:thin #454545 solid;
		position:relative;
		margin-top:4px;
		margin-bottom:16px;
		width:360px;
		height:260px;
		}
		.googlemap iframe{position:relative;
			top:5px;
			left:8px;}
			
.content_tweets{width:200px !important;
	padding-left:0px;
	background:none;}
.mt_header{padding-left:0px !important;}			
.avatar{display:none !important;}
.tweet{width:186px !important;
	padding-left:4px !important;
	text-align:left !important;
	background: none !important;
	border-bottom: thin solid #bdbdbd !important;}
.mt_text{padding-left:0px !important;
	width:190px;}
	.tweets{background-color:#e0e0e0 !important;
	margin-left:2px !important;
	padding-left: 0px !important;
	width:200px !important;
	magrin-top:4px;}

#mce-EMAIL{border:none;
	outline:none;
	height:30px;
	width:230px;
	background:#1d1c20;
	margin-top:14px;
	margin-bottom:4px;
	border:thin solid #595959;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding-left:8px;
	padding-right:6px;
	color:#BBB;}
	
#mc-embedded-subscribe{
	border:none;
	outline:none;
	height: 30px;
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
	background: #3d3d3d;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 6px 8px 0px 0px;
	
	font-size: 10px;
	float: left;
	color: #CCC;}
#mc-embedded-subscribe:hover{	
	background-color:#1f9549;
	cursor:pointer;}
	
	
	
.shopitem{
width: 200px;
float: left;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
background: url(img/darkbg.jpg) repeat;
border: thin #454545 solid;
position: relative;
margin-top: 4px;
margin-bottom: 12px;
margin-right: 7px;
margin-left: 7px;
padding:3px;
padding-bottom:12px;
}

.shopitem .shopname{
	width: 200px;
	float:left;
	color: white;
	font-style: italic;
	font-weight: 600;
	font-size: 14px;
	text-align: center;
	margin-top:6px;
	margin-left:4px;
}

.shopprice{height: 20px;
	width: 150px;
	text-align:center;
	padding-left: 10px;
	padding-right: 10px;
	background: #3D3D3D;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 0px 0px 0px 0px;
	color: #CCC;
	font-size: 10px;
	padding-top: 3px;
	float: left;
	margin:0 auto;
	margin-top:8px;
	margin-left:13px;
	padding-top:8px;}
	
.wpcf7-captchac{margin-top:3px;}
	
.staff_post a{text-align: left;
	float: left;
	margin-left: 6px;
	margin-top: 6px;
	width: 186px;
	margin-bottom: 0px;
	padding-bottom: 5px;
	line-height: 17px;
	border-bottom: thin #CCC solid;
	background:none;
	color:#333;
	padding-left:4px;
	}
	
.registerint{width: 180px;
	float: left;
	margin-left: 8px;
	text-align: left;
	line-height: 18px;
	}

.registerform{width: 171px;
	border: thin #EBEBEB solid;
	height: 23px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin-top: 4px;
	padding-left: 6px;
	margin-left: -4px;
	padding-right: 10px;
	padding-top: 0px;
	margin-bottom:3px;
	}

.registerselect{width: 190px;
	float: left;
	margin-left: 7px;
	margin-top: 4px;}
	
.registerbutton{height: 26px;
	width: auto;
	padding-left: 10px;
	padding-right: 10px;
	background: #3d3d3d;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 12px 8px 0px 0px;
	color: #CCC;
	font-size: 10px;
	padding-top: 2px;
	outline: none;
	border: none;
	margin: 0 auto;
	position: relative;
	left: -6px;
	margin-top: 14px;
	cursor:pointer;}
	.registerbutton:hover{background-color:#d2232a;
		border:none;}
		
		.modcontent img{margin-top:15px;
			margin-left:12px;
			border:thin solid #d3d3d3;
			float:left;}
		.modcontent .testim_name{color:#692f75;
			font-weight:600;
			float:left;
			margin-top:17px;
			margin-left:8px;
			font-size:14px;}
			.testim_name .dater{font-weight:700;
				font-size:12px;
				color:#666;}
		.modcontent .testim_content{float: left;
				width: 190px;
				text-align: left;
				margin-left: 10px;
				margin-top: 5px;
				line-height: 15px;}
		.modcontent .read-more{margin-left:12px;}
		.modcontent .meta{
			height:18px;
			color:#CCC;
			font-size:10px;
			padding-top:6px;
			float:left;}		
			

#recipe{width:280px;
	height:auto;
	float:left;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background:url(img/darkbg.jpg) repeat;
	border:thin #454545 solid;
	position:relative;
	margin-top:4px;
	margin-bottom:12px;
	margin-right:24px;
	margin-left:7px;
	display:inline;
	padding-bottom:8px;}
#recipe .modimg{width:266px;
	height:auto;
	overflow:hidden;
	margin-top:7px;
	margin-left:7px;}
	#recipe .modimg img{max-width:266px;
		height:auto;}
		
	#ingredientlist{width: 280px;
		float: left;
		height: auto;
		padding-bottom:16px;
		clear: both;
		margin-left: 7px;
		margin-bottom: 29px;
		border:thin #454545 solid;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		background: #1f1f1f;
		margin-right: 25px;}
		
		#ingredientlist h3{font-weight: 600;
			color: #1f9549;
			font-style: italic;
			font-size: 15px;
			margin-bottom: 4px;
			margin-top: 12px;
			margin-left: 12px;
		}
		
		#recipebox{width:220px;
			margin-left:12px;
			width: 220px;
			margin-left: 17px;}
			
		#recipebox li{line-height: 18px;
			margin-bottom: 14px;}
		
		
.wp-caption {
background: #606060;
border: 1px solid #f0f0f0;
max-width: 96%;
padding: 5px 3px 10px;
text-align: center;
}

.wp-caption p.wp-caption-text {
position:relative;
top: 13px;
}

#pagecontent img.aligncenter, #pagecontent img.alignleft, #pagecontent img.alignright{background: #606060;
border: 1px solid #f0f0f0;
max-width: 96%;
padding: 5px 8px 6px;
text-align: center;}




.wp-pagenavi .last, .wp-pagenavi .first, .wp-pagenavi .extend{
background: #222;
padding: 8px;
padding-right: 10px;
float: left;
margin-right: 6px;
border: thin solid #444;
}

.speed img{max-width:200px;
	max-height:130px;}
	

#support .bx-prev, #support .bx-next{top: -207px;}


.shopimg{overflow:hidden;
	width:200px;
	height:300px;}
.shopimg img{max-height:300px;
	width:auto;
	}
	
.eventful li a{width:70px;
	height: auto;
	background:#1f9549;
	color:#FFF;
	font-weight:bold;
	float:left;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	list-style:none;
	padding:4px;
	font-size:11px;
	position:relative;
	top:-4px;}
	
li.Superwomen a{background:#e42696!important;}
li.External.Event a{background:#2664e4!important;}
li.Circuit.&.Stretch.Class a{background:#e47b26!important;}
li.Circuit.Class a{background:#993399!important;}
li.Strive.Fitness.Day a{background:#d8da20!important;}

.pdf img{width:24px;
	height:24px;
	border:none;
	outline:none;
	position:absolute;
	left: -21px;
		top: -13px;}
	
.downloadbutton {
height: 19px;
width: auto;
padding-left: 10px;
padding-right: 10px;
background: #3d3d3d;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
color: #CCC;
font-size: 10px;
padding-top: 8px;
outline: none;
border: none;
margin: 0 auto;
position: relative;
left: 0px;
margin: 19px 13px 6px 36px;
margin-top: 10px;
float: left;
cursor: pointer;
border: none;
text-decoration: none;
padding-left: 22px;
}
.downloadbutton:hover{background-color:#d2232a;
		border:none;
		text-decoration:none;}